/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}*/



.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(232, 248, 255); 
  color: rgb(51,114,185);
  min-height: 2rem;
  padding: 1rem 0;
  
} 

.nav-item:first-child{
  margin-right:auto;
  margin-left: 2rem; 
}

.nav-item {
  list-style: none;
  margin-right: 2rem;

}

.coors-mountain {
  width: 50px;
}



.button-style {
  color: rgb(182, 45, 45) !important;
  background-color: rgb(251, 252, 253); 
}



 /* coors light red
 background-color: rgb(209, 211, 212); 

  coors light silver 
  background-color: rgb(211, 18, 69); 

   coors light gray
   background-color: rgb(113, 112, 115);  

   coors light dark blue 
   51,114,185

   coors light grey blue 
   100 152 206

   coors light light blue 
   232, 248, 255*/
