
body {
  margin:0 auto;
  font-family: sans-serif
}


.nav-list {
  display: flex; 
  align-items: center; 
  list-style-type: none;
  margin: 0px 0px;
  padding: 5px;
  overflow: hidden;
  background-color: rgb(232, 248, 255);
  position: fixed;
  top: 0;
  width: 100%;
  

} 



.nav-item:first-child{
  margin-right:auto;
  margin-left: 2rem; 
  
}

.nav-item {
  /* why does padding work but not margin?  */
  padding-right: 2rem;
  text-decoration: none;
  font-weight: 900;
}

.nav-item:visited {
  text-decoration: none;
  color: rgb(51,114,185)
  
}

/* removes underline when hovering */
.nav-item:hover {
  text-decoration: none;
}

.coors-mountain {
  width: 50px;
}

h1 {
  text-align: center;
}

 /* coors light silver
 background-color: rgb(209, 211, 212); 

  coors light red 
  background-color: rgb(211, 18, 69); 

   coors light dark gray
   background-color: rgb(113, 112, 115);  

   coors light dark blue 
   51,114,185

   coors light grey blue 
   100 152 206

   coors light light blue 
   232, 248, 255*/
