.question-box {
    margin-top: 50px;
    border-color: rgb(209, 211, 212);
    border-style: solid;
    box-shadow: 2px 2px rgb(209, 211, 212);
    font-family: sans-serif, Arial, Helvetica;
    padding: 1rem 1rem;
}

.results-box {
    border-color: rgb(209, 211, 212);
    border-style: solid;
    box-shadow: 2px 2px rgb(209, 211, 212);
    font-family: sans-serif, Arial, Helvetica;
    padding: 1rem 1rem;
}

.vote-button {
    text-align: end;
    
}


/* how to select just the button in a div? is it . or #?  */
button {
    background-color: rgb(211, 18, 69);
    color: white;
    border: none;
    padding: 0.5rem;


}
fieldset {
    border:none;
}

